.main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
}
.func, .menu ul{
    display: flex;
    gap: 48px;
    list-style: none;
    font-size: 24px;
}
.menu a, .cart a{
    text-decoration: none;
    color: black;
}



/* banner saction */


.banner{
    display: flex;
    width: 1250px;
    height: 500px;
    margin: 70px auto 0px;
    justify-content: space-between;
    align-items: end;
}
.b-text{
    width: 570px;
}
.b-pic{
    width: 570px;
}
.title{
    font-size: 65px;
    font-weight: bold;
}

.org {
    color: #E95A08;
}
.desc{
    font-size: 22px;
    color: gray;
}


/* our plant */



.our-plants{
    width: 1250px;
    margin: 0 auto;
    border: 2px solid saddlebrown;

}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    row-gap: 25px;
    margin-top: 50px;
    justify-content: center;
    border: 2px solid saddlebrown;
}
.head{
    text-align: center;
}
.head p{
    width: 80%;
    margin: 0 auto;
}
.name, .price{
    text-align: center;
}
.price{
    font-weight:900;
    font-size: 25px;
}
.btn-cart{
    width: 90%;
    background-color: #E95A08;
    font-size: large;
    padding: 10px;
    border-radius: 1px;
    color: white;
}


/* Plants Lover */

.plants-lover{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}

.flower{
    height: 600px;
    width: 540px;
}
.lover{
    width: 540px;
}
.lover h1{
    font-size: 60px;
}
.list ul li{
    margin-top: 15px;
}