.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
}

.func,
.menu ul {
    display: flex;
    gap: 48px;
    list-style: none;
    font-size: 24px;
}

.menu a,
.cart a {
    text-decoration: none;
    color: black;
}



/* banner saction */


.banner {
    display: flex;
    width: 1250px;
    height: 500px;
    margin: 70px auto 0px;
    justify-content: space-between;
    align-items: end;
}

.b-text {
    width: 570px;
}

.b-pic,
.b-img {
    width: 570px;
}

.title {
    font-size: 65px;
    font-weight: bold;
}

.org {
    color: #E95A08;
}

.desc {
    font-size: 22px;
    color: gray;
}


/* our plant */



.our-plants {
    width: 1250px;
    margin: 0 auto;
    /* border: 2px solid saddlebrown; */

}

.plant-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    row-gap: 25px;
    margin-top: 50px;
    justify-content: center;
    /* border: 2px solid saddlebrown; */
}

.plant:hover {
    transform: scale(1.02);
    background-color: snow;
}

.plant-pic {
    width: 90%;
}

.head {
    text-align: center;
}

.head p {
    width: 80%;
    margin: 0 auto;
}

.name,
.price {
    text-align: center;
}

.price {
    font-weight: 900;
    font-size: 25px;
}

.btn-cart {
    width: 90%;
    background-color: #E95A08;
    font-size: large;
    padding: 10px;
    border-radius: 1px;
    color: white;
}


/* Plants Lover */

.plants-lover {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower {
    height: 600px;
    width: 540px;
}

.lover {
    width: 540px;
}

.lover h1 {
    font-size: 60px;
}

.list ul li {
    margin-top: 15px;
}

/* latest deal saction  */



.latest-txt {
    text-align: center;
    width: 1150px;
    margin: 0 auto;
}

.latest-txt h1 {
    font-size: 60px;
}

.l {
    width: 60vw;
    margin: 0 auto;
}

.latest-pic {
    display: flex;
    max-width: 1150px;
    height: 425px;
    margin: 100px auto 0px;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bloom {
    background-image: url(assets/deal-bloom.png);
    background-size: auto;
    width: 367px;
    height: 200px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ana {
    background-image: url(assets/deal-ana.png);
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 200px;
    border-radius: 30px;
}

.zabo {
    background-image: url(assets/deal-zabo.png);
    background-size: auto;
    width: 750px;
    height: 425px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-txt {
    color: white;
    font-size: 25px;
}

.lr-txt {
    color: white;
    font-size: 40px;
}





/* join section */

.join {
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join h1 {
    font-size: 60px;
    color: white;
}

.action {
    display: flex;
    gap: 0px;
    width: 850px;
}

input {
    width: 6500px;
    height: 15px;
    padding: 20px;
}

.btn-sbs {
    background-color: #E95A08;
    font-size: large;
    padding: 20px 60px;
    margin: 0;
    border-radius: 1px;
    color: white;
    height: 58px;
}

.btn-sbs:hover,
.btn-cart:hover {
    transform: scale(1.02);
}


/* footer saction */

.footer {

    width: 1250px;
    height: 280px;
    margin: 80px auto 20px;
    /* gap: 110px; */
    display: flex;
    justify-content: space-between;

}

.brand {
    width: 300px;
}

.bar1 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bar1 a,
.bar1 li {
    text-decoration: none;
    list-style: none;
    color: rgb(98, 95, 95);
}

.bar2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bar2 a,
.bar2 li {
    text-decoration: none;
    list-style: none;
    color: rgb(98, 95, 95);
}

.bar1 a:hover,
.bar2 a:hover {
    transform: scale(1.05);
}

.icon {
    height: 36px;
    width: 36px;
}

.icon:hover {
    transform: scale(1.2);
}

.social {
    display: flex;
    gap: 15px;
}


@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 100px;

    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }





    /* banner saction */


    .banner {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        margin-top: 60px;
        justify-content: space-between;
        align-items: end;
        gap: 40px;
    }

    .b-text {
        width: 90vw;
        margin: 0 auto;
    }

    .b-pic,
    .b-img {
        width: 100vw;
    }

    .title {
        font-size: 45px;
        font-weight: bold;
    }

    .org {
        color: #E95A08;
    }

    .desc {
        font-size: 22px;
        color: gray;
    }



    /* our plant */



    .our-plants {
        max-width: 90vw;
        margin: 0 auto;
        /* border: 2px solid saddlebrown; */

    }

    .plant-container {
        display: grid;
        width: 90vw;
        grid-template-columns: repeat(2, 1fr);
        margin-left: calc((100vw - 90vw) / 4);
        row-gap: 25px;
        margin-top: 50px;
        justify-content: center;
        /* border: 2px solid saddlebrown; */
    }

    .plant:hover {
        transform: scale(1.02);
        background-color: snow;
    }

    .plant-pic {
        width: 90%;
    }

    .head {
        text-align: center;
    }

    .head p {
        width: 80%;
        margin: 0 auto;
    }

    .name,
    .price {
        text-align: center;
    }

    .price {
        font-weight: 900;
        font-size: 25px;
    }

    .btn-cart {
        width: 90%;
        background-color: #E95A08;
        font-size: large;
        padding: 10px;
        border-radius: 1px;
        color: white;
    }



    /* Plants Lover */

    .plants-lover {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .flower {
        height: 100%;
        width: 100%;
    }

    .lover {
        width: 90vw;
        display: flex;
        flex-direction: column;
        /* border: 2px solid saddlebrown; */
    }

    .lover h1 {
        font-size: 40px;
    }

    .list {
        margin-left: 30px;

    }

    .list ul li {
        margin-top: 15px;
    }




    /* latest deal saction  */



    .latest-txt {
        text-align: center;
        width: 90vw;
        margin: 0 auto;
    }

    .latest-txt h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .latest-pic {
        display: flex;
        max-width: 90vw;
        height: auto;
        margin: 80px auto 0px;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
    
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .bloom {
        background-image: url(assets/deal-bloom.png);
        background-size: auto;
        width: 367px;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ana {
        background-image: url(assets/deal-ana.png);
        background-size: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 367px;
        height: 200px;
        border-radius: 20px;
    }

    .zabo {
        background-image: url(assets/deal-zabo.png);
        background-size: auto;
        width: 367px;
        height: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .l-txt {
        color: white;
        font-size: 25px;
    }

    .lr-txt {
        color: white;
        font-size: 25px;
    }


    /* join section */

    .join {
        background-image: url(assets/news-letter-bg.png);
        background-size: cover;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .join h1 {
        font-size: 2em;
        color: white;
    }

    .action {
        display: flex;
        gap: 0px;
        width: 80vw;
        margin: 0 auto;
    }

    input {
        width: 40vw;
        height: 10px;

    }

    .btn-sbs {
        background-color: #E95A08;
        font-size: .8em;
        padding: 10px 20px;
        margin: 0;
        border-radius: 1px;
        color: white;
        height: 54px;
        width: 30vw;
    }


    /* footer saction */

    .footer {

        width: 90vw;
        height: auto;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;

    }

    .brand {
        width: 90vw;
    }

    .c {
        font-size: 18px;
    }

    .social {
        display: flex;
        gap: 15px;
    }

















}